@import "tailwindcss";


:root {
  --game-bg: #fffcf9;
  --game-pink: #ffefef;
  --game-accent: #ff8e8e;
  --game-text: #5d4a4a;
}

body {
  background-color: var(--game-bg);
  color: var(--game-text);
  font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--game-pink);
}

::-webkit-scrollbar-thumb {
  background: var(--game-accent);
  border-radius: 10px;
}